.container{
    max-width: 800px;
    padding:2em;
}
.accLabel{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    
}


hr{
    width:100%;
}
